.app {

}

.container {
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-gap: 10px;*/
    /*grid-auto-rows: minmax(100px, auto);*/
    /*margin: auto;*/
    background-color: pink;
}

.container .show {
    grid-column: 2 / 4;
    grid-row:  / 3;
}

.container .show-container-body {
    background-color: aquamarine;
    grid-column: 1;
    grid-row: 1;
}

.container .show-auction-detail {
    background-color: darkcyan;
}

.container .show-auction-artist-detail {
    background-color: aliceblue;
}

.container .show-auction-image {
    margin: 50px;
    padding: 50px;

}

.container .list {
    padding: 20px;
    padding-top: 50vh;
}

.calendar {
    padding: 100px;
}

#file-input {
    width: 400px;
    background-color: aliceblue;
}

/*.show {*/
    /*grid-area: list;*/
/*}*/
/*.list {*/
    /*grid-area: show;*/
/*}*/

/*.container {*/
    /*display: grid; */
    /*grid-template-columns: 50px 50px 50px 50px;*/
    /*grid-template-rows: auto;*/
    /*grid-template-areas:*/
            /*"list show show"*/
            /*"list show show"*/
            /*"list show show";*/
/*}*/
